<IfModule mod_rewrite.c>
    RewriteEngine On

    # Ako se koristi Apache verzija 2.4 ili novija
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [QSA,L]
</IfModule>