{% extends 'base.html.twig' %}

{% block title %}Email Verification Successful{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Email Verified Successfully</h1>
        <p>Your account has been successfully verified! You can now proceed to manage your cars.</p>
        <a href="{{ path('app_car_index') }}" class="btn btn-primary">Go to Cars</a>
    </div>
{% endblock %}
