{% extends 'base.html.twig' %}

{% block title %}Email Verification Successful{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Email Verified Successfully</h1>
        <p>Your account has been successfully verified! Please log in to access your account and manage your cars.</p>
        <a href="{{ path('app_login') }}" class="btn btn-primary">Go to Login</a>
    </div>
{% endblock %}
