{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <h1>Hello, {{ user.email }}!</h1>
    <p>Welcome to the admin panel.</p>

    <h3>What would you like to do?</h3>
    <ul>
        <li><a href="{{ path('admin_cars') }}">View all cars</a></li>
        <li><a href="{{ path('admin_appointments') }}">View all appointments</a></li>
        <li><a href="{{ path('admin_users') }}">View all users</a></li>
    </ul>
{% endblock %}
